# Build output
target/
bin/
build/
out/

# IDEs
.idea/
**/.idea/
.vscode/
.settings/
.project
*.iml

# OS files
.DS_Store
Thumbs.db

dependencies/**/*.dll
dependencies/**/*.so
dependencies/**/*.dylib

# Logs
*.log
